apiVersion: v1
kind: Service
metadata:
  name: portfolio-site
  namespace: portfolio
  labels:
    app: portfolio-site
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: portfolio-site
